/*最大介面*/

.col-lg-0{width: 0%;}
.col-lg-1{width: 8.33333333%;}
.col-lg-2{width: 16.66666666%;}
.col-lg-3{width: 25%;}
.col-lg-4{width: 33.33333333%;}
.col-lg-5{width: 41.66666666%;}
.col-lg-6{width: 50%;}
.col-lg-7{width: 58.33333333%;}
.col-lg-8{width: 66.66666666%;}
.col-lg-9{width: 75%;}
.col-lg-10{width: 83.33333333%;}
.col-lg-11{width: 91.66666666%;}
.col-lg-12{width: 100%;}

/*----------------------------------*/

*{
    list-style: none;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

.item{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.pdtb{
    padding-top: 140px;
    padding-bottom: 140px;
}
.pdrl{
    padding-right:10px;
    padding-left: 10px;
    box-sizing: border-box; /*要跟padding加在一起才會有用*/
}


/*-------------------------*/
.container{
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
}

a{
    transition: .3s;
    font-family: 'Montserrat', sans-serif;
}

nav .link_now{
    text-decoration: underline;
}

.btn a{
    font-size: 13px;
    font-weight: 700;
    min-width: 180px;
    box-sizing: border-box;
}
.nav a{
    font-size: 12px;
    font-weight: 400;
    font-family:'Lato';
}

img{
    width: 100%;
}

[class*="h-h"]{
    font-family:'Montserrat';
    font-weight: 700;
}

.h-h1{
    font-size: 48px;
}

.h-h2{
    font-size: 30px;
}

.h-h3{
    font-size: 18px;
}

.font-1{
    font-size: 18px;
}

.font-2{
    font-size: 18px;
}

.font-3{
    font-size: 16px;
}

p{
    font-weight: 400;
    font-family: 'Lato';
}




/*---------header--------*/
.header{
    background-image: url(pic/header.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.hd_space_top{
    line-height: 20px;
    padding-top: 50px;
}

.hd_item{
    padding-bottom: 50px;
    flex-wrap: nowrap;
}

.hd_logo a{
    font-size: 16px;
    line-height: 1.3;
    letter-spacing: 2px;
    color: #fff;
    font-family:'Montserrat';
    font-weight: 800;
}

.hd_nav{
    width: 100%;
}

/*-------------------*/

.bar{
    display: none;
    text-align: center;
}


.hd_nav{
    display: flex;
    justify-content: space-between;
    /* max-width: 86.54431818%; */

}

.hd_nav a{
    color: #fff;
    letter-spacing:0.6px;
}

.hd_nav a:active{

}

.hd_nav a:hover{
    text-decoration: underline;
}

.hd_icon p{
    text-align: center;
}

.hd_icon a{
    color: #ffffff;
    font-size: 18px;
}

.hd_title{
    padding-bottom: 20px;
}
.hd_word h1{
    color: #ffffff;
    line-height: 1.2;
}

.hd_word p{
  color: #ffffff;
  font-size: 18px;
  line-height: 1.6;
}

.hd_word a{
    font-weight: 700;
    color: #ffffff;
}

.hd_word a:hover{
    text-decoration: underline;
}

.hd_space_bottom{
    line-height: 45px;
}

/*------------room-----------------------*/

.rm_title{
    display: flex;
    width: 100%;
}

.rm_title_word h2{
    color: #393a47;
    line-height: 1.3;
}

.rm_item_group{
    display: flex;
    flex-wrap: wrap;
}

.rm_item .img{
    padding: 50px 0 20px 0;
}

.rm_txt a{
    color: #393a47;
    line-height: 1.5;
}

.rm_txt a:hover{
    color: #1D3ab0;
    transition: .3s;
}

.rm_txt p{
    color: #828282;
    line-height: 1.4;
}

.rm_txt span{
    color: #e8e8e8;
}

.rm_txt .rm_money{
    color: #1D3ab0;
    line-height: 1.5;
    display: inline-block;
}

.rm_txt .rm_night{
    font-size: 12px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #aaaaaa;
    line-height: 1.5;
    display: inline-block;
}

/*---------mountains-----------------*/
.mountains{
    background-color: #f3f3f3;
}

.mt_your{
    display: flex; /*分上下*/
}

.mt_card_all{
    display: flex; /*分左右*/
    flex-wrap: wrap;
}

.mt_title h2{
    color: #393a47;
    line-height: 1.3;
    padding: 50px 50px 0;
}

.mt_hr{
    max-width: 100%;
    padding: 20px 50px;
    font-size: 0;
}

.mt_hr hr{
    background-color: #1d3ab0;
    width: 24%;
    box-sizing: content-box;
    border: 1px solid #1d3ab0;
    display: inline-block;
}

.mt_txt{
    padding: 20px 50px;
    color: #828282;
    line-height: 1.5;
}

.mt_more{
    padding: 20px 0 50px 50px;

}

.mt_more a{
    display: inline-block;
    text-align: center;
    color: #1d3ab0;
    border: 2px solid #1d3ab0;
    padding: 16px 15px;
    letter-spacing: .6px;
    line-height: 14px;
    transition: .3s;
}

.mt_more a:hover{
    color: #ffffff;
    background-color: #1d3ab0;
    transition: .3s;
}

.mt_img_t{
    background-image:url(pic/mountain-01.jpg);
    background-position:left top;
}

.mt_img_b{
    background-image:url(pic/mountain-02.jpg);
    background-position:left top;
}


.mt_img{
    background-repeat:no-repeat;
    background-size:cover;
}

/*----------food-------*/
.food .item{
    display: flex;
}

.fd_title{
    padding-top: 20px;
    color: #393a47;
    line-height: 1.3;
}

.fd_hr{
    padding: 20px 0;
    max-width: 100%;
    font-size: 0px;
}

.fd_hr hr{
    width: 25%;
    box-sizing: content-box;
    background-color: #1D3ab0;
    border: 1px solid #1d3ab0;
    display: inline-block;
}

.fd_txt{
    padding: 0 50px 20px 0;
    font-size: 18px;
    line-height: 1.4;
}

.fd_desc{
    color: #828282;
    line-height: 1.4;
}

.fd_menu{
    color: #393a47;
    line-height: 1.5;
}

.fd_price{
    color: #393a47;
    line-height: 1.4;
}

.fd_mintxt{
    color: #828282;
    font-size: 14px;
    line-height: 1.4;
}

/*--------ppl-------*/
.ppl{
    background-image: url(pic/ppl-content.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.ppl .item{
    display: flex;
}

.ppl_hr hr{
    max-width: 100%;
    width: 67%;
    border: 1px solid #ffffff;
    margin: 20px 0;
}

.ppl_title{
    color: #ffffff;
    line-height: 1.3;
    padding-bottom: 50px;
}

.ppl_talk{
    color: #ffffff;
    line-height: 1.6;
}

.ppl_name{
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    line-height: 1.5;
}

/*-----gallery----*/



.gallery .item{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.gl_title{
    color: #393a47;
    line-height: 1.3;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.gl_img_group{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    padding: 10px;
    box-sizing: border-box;
    font-size: 0px; /*hover*/
}

.gl_card{
    box-sizing: border-box;
    position: relative;
    transition: .3s;
}

.gl_card img{
    padding: 10px;
    width: 100%;
}

.gl_card:hover .light_blue{
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 10px;
    left: 10px;
    background-color: rgba(29,58,176,0.5);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .3s;
}

.gl_card:hover .light_blue .fa-snowflake{
    font-size: 28px;
    color: white;
    transition: .3s;
}




/* .gl_img a:hover{
    color: #fff;
    font-size: 35px;
    background-color: rgba(29,58,176,0.5);
} */

/* .gl_img span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition:.3s;
} */

/* .gl_img span:hover{
    background-color:rgba(29,58,176,0.5);
    transition: .3s;
} */


/*---google_map---*/

.google_map{
    font-size: 0px;
}

/*------footer-------*/
.footer{
    background-color: #393A47;
}

.ft_info{
    display: flex;
    padding: 110px 0;
}


.ft_bigtxt{
    color: #ffffff;
    line-height: 1.6;
}

.ft_mintxt{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    color: #828282;
    font-size: 12px;
    line-height: 1.9;
}

.ft_phone a{
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.4;
}

.ft_phone a:hover{
    color: #1d3ab0;
    transition: .3s;
}


.ft_icon ul{
    display: flex;
    width: 100%;
    margin: 20px 0;
}

.ft_icon a{
    color: #ffffff;
    margin-right: 30px;
    font-size: 12.8px;
}


.ft_icon a:hover{
    color: #1d3ab0;
    transition: .3s;
}

.ft_letter form{
    max-width: 100%;
}

.ft_letter input{
    width: 100%;
    background-color: #2d2e39;
    color: #828282;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #2d2e39;
    padding: 12px 20px;
    margin-bottom:10px;
    margin-top: 20px;
    box-sizing: border-box;
}

.subscribe a{
    display: inline-block;
    text-align: center;
    color: #ffffff;
    background-color: #1d3ab0;
    padding: 16px 15px;
    letter-spacing: .6px;
    min-width: 180px;
}

.subscribe a:hover{
    color: #1d3ab0;
    background-color: #fff;
    transition: .3s;
}

/*------ft_vav--*/
.ft_under .item{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0;

}

.ft_nav ul{
    display: flex;
}

.ft_nav li{
    margin-right: 50px;
}

.ft_nav a{
    color: #828282;
    line-height: 14px;
    transition: .3s;
}

.ft_nav a:hover{
    color: #1d3ab0;
    transition: .3s;
}

.ft_nav .link_active{
    color: #1d3ab0;
}

.ft_copywrite{
    font-family: 'Lato', sans-serif;
    color: #828282;
    font-size: 12px;
    line-height: 1.9;
    text-align: right;
}
.ft_copywrite a{
    font-family: 'Lato', sans-serif;
    line-height: 1.9;
    transition: .3s;
}

.ft_copywrite a:hover{
    color: #1d3ab0;
    transition: .3s;
}


/*------fixed-----*/
.to_top{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #444555;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .3s;
}

.to_top:hover{
    transition: .3s;
    background-color: #1d3ab0;
    cursor: pointer;
}

.to_top i{
    font-size: 18px;
    color: white;
}



.fixed_call{
    z-index: 1;
    width: 80px;
    height: 80px;
    background-color: #fff;
    position: fixed;
    bottom: 66px;
    right: 36px;
    border-radius: 50%;
    box-shadow: 2px 4px 8px #393a4773;
    text-align: center;
    overflow: hidden;
}

.fixed_call_change{
    z-index: 0;
    background-color: #fff;
    position: fixed;
    bottom: 66px;
    right: 36px;
    box-shadow: 2px 4px 8px #393a4773;
    text-align: center;
    overflow: hidden;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.fixed_call i{
    color: #1d3ab0;
    transition: .3s;
}

.fixed_call .fixed_icon i{
    max-width: 100%;
    font-size: 40px;
    line-height: 80px;
    color: #1d3ab0;
    transition: .3s;
}

.fixed_call:hover .fa-phone-alt{
    color: #4461d3;
    transition: .3s;
    cursor: pointer;
}

.fixed_call:hover{
    cursor: pointer;
}

.fixed_info{
    position: relative;
    padding: 30px;
    text-align: center;
    font-family: 'Montserrat';
}

.fixed_info strong{
    font-weight: 700;
}

.fixed_info .name{
    padding-top: 8px;
    font-size: 20px;
}

.fixed_info .phone{
   height: 10px;
}

.fixed_info .fa-phone-alt{
    font-size: 12px;
}

.fixed_times{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #1d3ab0;
    cursor: pointer;
}
.fixed_times .fa-times{
    font-size: 20px;
}

.fixed_user .fa-user-circle{
    width:80px;
    height:80px;
    font-size: 80px;
    color: #1d3ab0;
}


/*--------------RWD------------*/

/*中介面*/
@media screen and (max-width: 1039px){

    .col-md-0{width: 0%;}
    .col-md-1{width: 8.33333333%;}
    .col-md-2{width: 16.66666666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.33333333%;}
    .col-md-5{width: 41.66666666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.33333333%;}
    .col-md-8{width: 66.66666666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.33333333%;}
    .col-md-11{width: 91.66666666%;}
    .col-md-12{width: 100%;}

    .pdtb{
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .hd_space_top{
        padding-top: 25px;
    }

    .hd_space_bottom{
        display: none;
    }



    .h-h1{
        font-size: 35px;
    }

    .h-h2{
        font-size: 17px;
    }

    .h-h3{
        font-size: 15px;
    }

    .font-1{
        font-size: 16px;
    }

    .font-2{
        font-size: 16px;
    }

    .font-3{
        font-size: 14px;
    }
    .btn a{
        font-size: 14px;
    }

    .hd_logo a{
        font-size: 12px;
    }

    .ft_icon a{
        margin-right: 16px;
    }

    .ft_phone a{
        font-size: 20px;
    }
}




/*小介面*/
@media screen and (max-width: 767px){


    /* [class*="col"]{

    } */
    .col-sm-0{width: 0%;}
    .col-sm-1{width: 8.33333333%;}
    .col-sm-2{width: 16.66666666%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.33333333%;}
    .col-sm-5{width: 41.66666666%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.33333333%;}
    .col-sm-8{width: 66.66666666%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.33333333%;}
    .col-sm-11{width: 91.66666666%;}
    .col-sm-12{width: 100%;}

    .h-h1{
        font-size: 21px;
    }

    .h-h2{
        font-size: 20px;
    }

    .font-1{
        font-size: 17px;
    }

    .font-2{
        font-size: 15px;
    }

.hd_item{
    padding:0 15px;
    position: relative;
}

    .nav a{
        font-size: 18px;

    }
    .fd_mintxt{
        line-height: 1.5;
    }

    .hd_logo a{
        font-size: 16px;
    }


    .bar{
        display: inline-block;
        text-align: center;
        overflow: visible;
    }

    .bar div{
        display: inline-block;
        background-color: #fff;
        width: 40px;
    }

    /* .bar a:hover i{
        color: #fff;
    }

    .bar a:hover{
        background-color: #393A47;
    } */

    .bar i{
        color:#393A47;
        font-size: 24px;
        line-height: 40px;
    }

    .bar div.active{
        background-color: #393A47;     /*JS*/
    }

    .bar div.active i{
        color: #fff;
    }

    .hd_nav{
        height: fit-content;
        position: absolute;
        width: calc(100% - 30px);
        top: 60px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 0 auto;
        flex-wrap: wrap;
        border:2px solid #393a47;
        display:none;
    }

    .ft_nav{
        top: auto;
        bottom: 60px;
        border:2px solid #1d3ab0;
    }

    .hd_nav.open{               /*JS*/
        display:block;
    }

    .hd_nav a{
        display: block;
        background-color: #ffffff;
        color: #1d3ab0;
        padding: 10px 50px 10px 20px;
        box-sizing: border-box;
    }

    .hd_nav a:hover{
        text-decoration: none;
    }

    .hd_nav .link_now{
        background-color: #393a47;
        text-decoration: none;
        color: #fff;
    }

    .rm_item {
        width: 100%;
    }

    .rm_item .img{
        max-width: 400px;
        margin: auto;
    }

    .bar a:hover .hd_nav{
        overflow: visible;
    }

    .ft_info{
        padding: 60px 0;
    }

    /*----------------------*/

    .hd_item{
        flex-wrap: wrap;
    }

    .mt_img{
        height: 250px;
    }
    .ft_phone a{
        font-size: 19px;
    }
}
